- name: Add postgres authentication(pg_hba.conf) for replication
  blockinfile:
    dest: /var/lib/pgsql/{{ postgres_version }}/data/pg_hba.conf
    marker: "#<!-- {mark} ANSIBLE MANAGED BLOCK postgres replication authentication for {{slave_db_group}}-->"
    state: present
    block: |
      {% for host in groups[slave_db_group] %}
      {% if host not in [False, 'localhost', '127.0.0.1'] and host != inventory_hostname %}
      host replication {{ db_user }} {{ hostvars.get(host, {}).get('ansible_ssh_host') or host }}/32	trust   #Authentication for replication
      {% endif %}
      {% endfor %}

- name: Reload postgresql
  service:
    name=postgresql-{{ postgres_version }}
    state=reloaded